.project {
  display: grid;
  flex-direction: row;
  grid-auto-flow: column;
  grid-auto-columns: 550px;
  gap: 40px;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 110px;
}

.project__column {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}

.project__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.project__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.steps {
  display: grid;
  flex-direction: row;
  grid-auto-flow: column;
}

.steps_size-1-4 {
  grid-template-columns: 1fr 4fr;
}

.steps__column {
  display: grid;
  flex-direction: column;
  row-gap: 14px;
  text-align: center;
}

.steps__duration {
  padding: 9px 0 9px 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background-color: var(--color-grey);
}

.steps__duration_active {
  background-color: var(--color-green);
}

.steps__name {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-ground);
}

@media screen and (max-width: 1279px) {

}

@media screen and (max-width: 900px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 500px) {

}
