.navigation {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navigation__item {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.navigation__item_active {
  font-weight: 500;
}

@media screen and (min-width: 767px) {
  .navigation__item_hidden {
    display: none;
  }  
}
