.search__form {
  grid-area: form;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  background-color: var(--color-grey);
}

.search__input {
  font-family: inherit;
  width: 100%;
  border: none;
  border-radius: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: var(--color-black);
  padding: 25px 25px 25px 65px;
  background: url('../../images/Search.svg') no-repeat left;
  background-size: 22px;
  background-position: 25px;
}

.search__input::placeholder {
  color: var(--color-ground);
}

.search__input_active {
  color: var(--color-red);
}

.search__input_error {
  display: none;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: var(--color-red);
  padding-top: 5px;
}

.search__error_active {
  display: flex;
}

.search__button {
  background-image: url(../../images/Find.svg);
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 34px;
  height: 34px;
  margin-left: 15px;
  padding-right: 50px;
  border-right-color: var(--color-darkgrey);
  border-right-style: solid;
  border-right-width: 1px;
}

@media screen and (max-width: 920px) {
  .search__input {
    font-size: 13px;
    line-height: 18px;
  }
  .search__button {
    padding-right: 55px;
  }
}

@media screen and (max-width: 620px) {
  .search__form {
    border-radius: 9px;
  }

  .search__input {
    font-size: 14px;
    line-height: 20px;
    background: none;
    padding-left: 19px;
  }

  .search__button {
    border: none;
  }
}
