.search__form {
  grid-area: form;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  background-color: var(--color-grey);
}

.search__input {
  font-family: inherit;
  width: 100%;
  border: none;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  height: 50px;
  color: var(--color-black);
  padding-left: 65px;
  margin-right: 45px;
  background: url('../../images/Search.svg') no-repeat left;
  background-size: 22px;
  background-position: 25px;
}

.search__input::placeholder {
  color: var(--color-ground);
}

.search__button {
  background-image: url(../../images/Find.svg);
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 34px;
  height: 34px;
  padding-right: 65px;
  border-right-color: var(--color-darkgrey);
  border-right-style: solid;
  border-right-width: 1px; 
}

@media screen and (max-width: 450px) {
}
